<div class="container">
  <div class="col-3"></div>

  <div class="row justify-content-center">
    <form>
      <h4 class="text-center">Register</h4>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="loginName" class="form-control" />
        <label class="form-label" for="loginName">Username</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="loginPassword" class="form-control" />
        <label class="form-label" for="loginPassword">Password</label>
      </div>

      <div class="form-outline mb-4">
        <input type="password" id="loginPassword" class="form-control" />
        <label class="form-label" for="loginPassword">Confirm Password</label>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Register
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Already a member? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>
